:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
}

#app .controllers {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
}

#app #container {
  display: flex;
}

#app canvas#world {
  background-color: lightgray;
}

#app canvas#visualizer {
  background-color: #0a0a0a;
}

#app .controllers button, #app .controllers .file-input-label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 20px;
  border: none;
  background-color: #d1d1d1;
  border-radius: 6px;
  cursor: pointer;
}

#app .controllers button:hover {
  box-shadow: 0 0 6px 1px darkgray;
  background-color: #c1c1c1;
}

#app .controllers input {
  display: none;
}